<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="af787b">  <td>19/02/24 17:44:10</td>   <td>0</td> <td title="&gt;&gt;ProjectMethods.beforeSuite()[pri:0, instance:com.framework.testcases.TC_001_CreateLead@20398b7c]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1022308509</td>   <td></td> </tr>
<tr bgcolor="f5e5e3">  <td>19/02/24 17:44:10</td>   <td>324</td> <td>&nbsp;</td><td title="&gt;&gt;TC_001_CreateLead.setData()[pri:0, instance:com.framework.testcases.TC_001_CreateLead@20398b7c]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1022308509</td>   <td></td> </tr>
<tr bgcolor="af787b">  <td>19/02/24 17:44:10</td>   <td>329</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.beforeClass()[pri:0, instance:com.framework.testcases.TC_001_CreateLead@20398b7c]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1022308509</td>   <td></td> </tr>
<tr bgcolor="af787b">  <td>19/02/24 17:44:11</td>   <td>778</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.beforeMethod()[pri:0, instance:com.framework.testcases.TC_001_CreateLead@20398b7c]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1022308509</td>   <td></td> </tr>
<tr bgcolor="f5e5e3">  <td>19/02/24 17:44:13</td>   <td>3276</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_001_CreateLead.Login(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.framework.testcases.TC_001_CreateLead@20398b7c]">Login</td> 
  <td>main@1022308509</td>   <td></td> </tr>
<tr bgcolor="af787b">  <td>19/02/24 17:44:26</td>   <td>15530</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.closeApp()[pri:0, instance:com.framework.testcases.TC_001_CreateLead@20398b7c]">&lt;&lt;closeApp</td> 
<td>&nbsp;</td>  <td>main@1022308509</td>   <td></td> </tr>
<tr bgcolor="af787b">  <td>19/02/24 17:44:31</td>   <td>20658</td> <td title="&lt;&lt;ProjectMethods.afterSuite()[pri:0, instance:com.framework.testcases.TC_001_CreateLead@20398b7c]">&lt;&lt;afterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1022308509</td>   <td></td> </tr>
</table>
